/* remove border between chrome and content */
#navigator-toolbox {
  border-bottom: none !important;
}

/* slim tab height */
.tab-background {
  min-height: auto !important;
}
#tabbrowser-tabs {
  &[orient="horizontal"] {
    min-height: auto !important;
  }
}

#nav-bar {
  /* remove border between tab-bar and nav-bar */
  border-top: none !important;

  /* raise height by 1px */
  height: 41px !important;
}

/* add some space between the buttons and ends of the nav-bar  */
.browser-toolbar {
  padding: 0 6px !important;
}

/* slim space between buttons */
toolbar .toolbarbutton-1 {
  padding: 0 !important;
}

/* slimmer urlbar  */
#urlbar-background {
  margin: 2px 0 !important;
  border-radius: 10px !important;
}

/* identity text smaller */
#identity-icon-label {
  font-size: .9em !important;
}
/* identity background radius match urlbar */
#urlbar-label-box, #urlbar-searchmode-switcher, #identity-icon-box {
  border-radius: 8px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}


/* smaller text in urlbar */
#urlbar, #searchbar {
  font-size: 1.15em !important;
}

/* smaller buttons in nav-bar */
toolbar .toolbarbutton-1 {
  & > .toolbarbutton-icon {
    width: calc(2 * var(--toolbarbutton-inner-padding) + 14px) !important;
    height: calc(2 * var(--toolbarbutton-inner-padding) + 14px) !important;
  }
}
.toolbarbutton-1 {
  & > .toolbarbutton-badge-stack > .toolbarbutton-icon {
    width: 14px !important;
  }
}
#tracking-protection-icon, #identity-icon {
  width: 14px !important;
  height: 14px !important;
}


/* extensions popup */
#unified-extensions-view {
  /* remove "extensions" text  */
  .panel-header { 
    display: none !important;
  }

  /* remove horizontal line */
  toolbarseparator {
    display: none;
  }
}
